<div class="pt-page-content">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>About The Dominion Chef</h2>
                <p>
                    The Dominion Chef gives you more control when you generate Dominion decks.
                    Can it randomly generate a card set? Sure! But it does a lot more. Want a friendly game?
                    Remove all attack cards. Want a game with a lot to do each turn? Ramp up the number of action cards.
                    Want a low cost game? Reduce the total cost of all cards. You pick the ingredients and let the Dominion
                    Chef do the work!
                </p>
            </div>
            <div class="col-sm-12 col-md-8">
                <h3>Author <small>(shameless self-promotion)</small></h3>
                <ul>
                    <li>
                        Luke Aeschleman:
                        <a href="https://github.com/queryluke" target="_blank"><i class="fa fa-github"></i></a>
                        |
                        <a href="https://www.linkedin.com/in/luke-aeschleman-5a20a754" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        |
                        <a href="https://plus.google.com/u/0/+LukeAeschleman" target="_blank"><i class="fa fa-google-plus"></i></a>
                        |
                        <a href="https://twitter.com/queryluke" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
                <h3>Techs</h3>
                <ul>
                    <li><a href="https://angularjs.org" target="_blank">AngularJS 1</a></li>
                    <li>Scaffolded by the amazing <a href="http://fountainjs.io/" target="_blank">FountainJS</a></li>
                    <li>CSS Framework: <a href="http://getbootstrap.com/" target="_blank">Bootstrap (v6-alpha)</a></li>
                    <li>Major props to the creators of <a href="https://github.com/angular-slider/angularjs-slider" target="_blank">angular-slider</a></li>
                    <li>Share features made easy by <a href="https://github.com/720kb/angular-socialshare">720kb's Angular Socialshare</a></li>
                    <li>Copy & Paste by: <a href="https://github.com/omichelsen/angular-clipboard">Angular Clipboard</a></li>
                </ul>
                <h3>Inspiration</h3>
                <ul>
                    <li>Stretchy Nav inspired by: <a href="https://codyhouse.co/gem/stretchy-navigation/" target="_blank">CodyHouse</a></li>
                    <li>Page Transitions inspired by: <a href="http://tympanus.net/codrops/author/pbotelho/" target="_blank">Pedro Botelho</a> <a href="http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/">@codrops</a></li>
                </ul>
                <h3>Graphics and Images</h3>
                <ul>
                    <li>Card Images from <a href="http://wiki.dominionstrategy.com/index.php/Main_Page" target="blank">Dominion Strategy Wiki</a></li>
                    <li><a href="http://boardgamegeek.com/filepage/73273/dominion-card-icons-vector-images">SVG Icons</a> created by <a href="http://boardgamegeek.com" target="_blank">BoardGameGeek</a> user <a href="http://boardgamegeek.com/user/m_knox" target="_blank">m_knox</a></li>
                    <li>All other icons from <a href="http://fontawesome.io/">FontAwesome</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <h3>Future Features <small>(a.k.a. todo list)</small></h3>
                <ul>
                    <li>Adventures, Empires, and Promos</li>
                    <li>2nd Ed. of Base Set & Intrigue</li>
                    <li><s>Mobile Friendlier</s></li>
                    <li><s>Clean up the code (round 1)</s></li>
                    <li>Swap playset card</li>
                    <li><s>Share playset via text</s></li>
                    <li>PreDefined Option Sets</li>
                    <li>Guide / Better Tutorial</li>
                    <li><s>Standardize Page Transitions</s></li>
                    <li>Card Enter Animations</li>
                    <li>Better balance logic, less build failures</li>
                    <li><s>Fancier sharing UI</s></li>
                    <li>Toggle OR/AND logic for inventory</li>
                </ul>
            </div>
            <div class="col-12 changelog">
                <h3>Changelog</h3>
                <div class="change">
                    <h4>June 9, 2017</h4>
                    <ul>
                        <li>Updated Bootstrap to v4.0.0-alpha.6</li>
                        <li>Changed site from DomEngine to The Dominion Chef</li>
                    </ul>
                </div>
                <div class="change">
                    <h4>Oct 27, 2016</h4>
                    <p>Fixed bug with gh-pages and sharing features</p>
                </div>
                <div class="change">
                    <h4>Oct 24, 2016</h4>
                    <p>Added sharing features. Need to rework UI, make it fancy...</p>
                </div>
                <div class="change">
                    <h4>Oct 23, 2016</h4>
                    <p>Fixed bugs in the playset build</p>
                </div>
                <div class="change">
                    <h4>Oct 15, 2016</h4>
                    <p><strong>Fixed Bug:</strong> Repeating Inventory Type options</p>
                </div>
                <div class="change">
                    <h4>Oct 14, 2016</h4>
                    <ul>
                        <li>Changed <em>Playset</em> view to <em>Playmat</em></li>
                        <li>Moved hefty amount of logic from main controller (<em>DomEngine.js</em>) to new model <em>Playset.js</em></li>
                        <li>
                            New Playset Model allows:
                            <ul>
                                <li>Adding & Removing cards</li>
                                <li>Calculate playset totals (total card types & card additions</li>
                                <li>Import playset from ID string</li>
                                <li>Find required cards</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="change">
                    <h4>Sep 18, 2016</h4>
                    <p>Playsets have unique ids. First step towards sharing!</p>
                </div>
            </div>
        </div>
    </div>
</div>
