<div class="pt-page-content m-b-3">
    <div class="container m-t-1">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>Build Options</h1>
            </div>
        </div>
        <div class="row m-t-2 text-xs-center">
            <h2>Expansions</h2>
            <expansion-list expansions="$ctrl.config.expansions"></expansion-list>
        </div>
        <div class="row m-t-2">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="$ctrl.handleBuild()">Build a Playset</button>
                <button class="btn btn-outline-warning pull-xs-right" ng-click="$ctrl.handleResetOptions()">Reset Options</button>
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="row m-t-2">
            <div class="col-xs-12 text-xs-center">
                <h2>Advanced Options</h2>
            </div>
        </div>
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h3>Limit Card Types
                    <span class="text-info">
                        <i class="fa fa-question-circle-o" aria-hidden="true" ng-click="$ctrl.toggleHelpText('cardTypes')"></i>
                    </span>
                </h3>
                <div class="help-block well" ng-show="$ctrl.showHelpText === 'cardTypes'">
                    <p>
                        For each slider, set the max number of that type you want in your playset.
                        For a 100% random playset, (without any balancing) set all values to 10
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="(type, value) in $ctrl.config.limits track by $index">
                    <label class="text-capitalize">{{ type }}</label>
                    <rzslider rz-slider-model="$ctrl.config.limits[type]" rz-slider-options="{floor: 0, ceil: 10}"></rzslider>
                </div>
            </div>
        </div>

        <div class="row m-t-1">
            <div class="col-xs-12">
                <h3>Limit Max Cost
                    <span class="text-info">
                        <i class="fa fa-question-circle-o" aria-hidden="true" ng-click="$ctrl.toggleHelpText('maxCost')"></i>
                    </span>
                </h3>
                <div class="help-block well" ng-show="$ctrl.showHelpText === 'maxCost'">
                    <p>
                        The total cost of all Kingdom Cards. 39, 42, and 49 are great starting points.
                    </p>
                    <p>
                        <strong>Note:</strong> For Prosperity, it's recommended to use the max setting of 73.
                    </p>
                    <p>
                        <strong>Caveat:</strong> Occasionally, DomEngine cannot find a card below the required cost. For example, if the max
                        cost is 39, and the first 9 Kingdom Cards total 38 (there are no 1 cost cards). In this instance, the last card
                        in will be fetched without a max limit. Something that will be remedied in later versions.
                    </p>
                </div>
                <div class="col-xs-12">
                    <rzslider rz-slider-model="$ctrl.config.cost" rz-slider-options="{floor: 20, ceil: 73, onChange: $ctrl.change()}"></rzslider>
                </div>
            </div>
        </div>

        <div class="row m-t-1">
            <div class="col-xs-12">
                <h3>Card Abilities (finicky)
                    <span class="text-info">
                        <i class="fa fa-question-circle-o" aria-hidden="true" ng-click="$ctrl.toggleHelpText('cardAbilities')"></i>
                    </span>
                </h3>
                <div class="help-block well" ng-show="$ctrl.showHelpText === 'cardAbilities'">
                    <p>
                        Cards can add additional attacks, buys, coin, and draws to your turn. You can set the min & max value for each ability.
                        This setting is based on the ability amount, not the card count. For example: "Festival" counts for
                        2 coins, 2 actions, and 1 buy. Cards that potentially add abilities count for 1 (e.g. Library).
                    </p>
                    <p>
                        <strong>Note:</strong> Disable the ability check by setting both values to 0.
                    </p>
                    <p>
                        <strong class="text-warning">Warning</strong>: To prevent playset build errors, it's recommended to leave the lower bound &lt; 4, and the upper bound &gt; 5.
                        This feature will be improved in later releases.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6" ng-repeat="(type, value) in $ctrl.config.adds track by $index">
                    <label class="text-capitalize">{{ type }}</label>
                    <rzslider
                            rz-slider-model="$ctrl.config.adds[type].min"
                            rz-slider-high="$ctrl.config.adds[type].max"
                            rz-slider-options="{floor: 0, ceil: 10}"></rzslider>
                </div>
            </div>
        </div>
    </div>
</div>
