<nav class="stretchy-nav" ng-class="{'nav-open': $ctrl.showMenu}">
    <a class="nav-trigger" ng-click="$ctrl.showMenu = !$ctrl.showMenu">
        <span class="sr-only">Menu</span>
        <span aria-hidden="true"></span>
    </a>
    <ul class="list-unstyled">
        <li><a href="welcome" ng-class="{active: $ctrl.$state.current.name == 'welcome'}">
            <span class="text-center icon-wrapper">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">Home</span></a>
        </li>
        <li><a href="playset" ng-class="{active: $ctrl.$state.current.name == 'playset'}">
            <span class="text-center icon-wrapper">
                <i class="fa fa-gamepad fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">Playset</span></a>
        </li>
        <li><a ng-href="advanced-options" ng-class="{active: $ctrl.$state.current.name == 'advancedOptions'}">
            <span class="text-center icon-wrapper">
                <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">Options</span></a>
        </li>
        <li><a ng-href="inventory" ng-class="{active: $ctrl.$state.current.name == 'inventory'}">
            <span class="text-center icon-wrapper">
                <i class="fa fa-cubes fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">Inventory</span></a>
        </li>
        <li><a ng-href="about" ng-class="{active: $ctrl.$state.current.name == 'about'}">
            <span class="text-center icon-wrapper">
                <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">About</span></a>
        </li>
        <li><a href="https://github.com/queryluke/dominion-chef" target="_blank">
            <span class="text-center icon-wrapper">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
            </span>
            <span class="menu-text">Github</span></a>
        </li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>