<div class="row">
    <!-- Text -->
    <div class="col-12 col-sm-6">
        <h5>Text</h5>
        <input type="text" class="form-control" id="cardName" ng-model="$ctrl.searchParams.name" ng-change="$ctrl.onSubmit()">
    </div>
    <!-- Cost -->
    <div class="col-12 col-sm-6">
        <div class="row">
            <div class="form-group col-12 col-sm-6">
                <h5>Min Cost</h5>
                <input type="number" min="0" max="8" class="form-control" id="minCost" ng-model="$ctrl.searchParams.costL" ng-change="$ctrl.onSubmit()">
            </div>
            <div class="form-group col-12 col-sm-6">
                <h5>Max Cost</h5>
                <input type="number" min="0" max="8" class="form-control" id="maxCost" ng-model="$ctrl.searchParams.costG" ng-change="$ctrl.onSubmit()">
            </div>
        </div>
        <!--<rzslider
                rz-slider-model="$ctrl.searchParams.costL"
                rz-slider-high="$ctrl.searchParams.costG"
                rz-slider-options="{floor: 0, ceil: 8"></rzslider>-->
    </div>
</div>

<!-- Expansions -->
<div class="row mt-1">
    <div class="col-12">
        <h5>Expansions</h5>
        <div class="text-center">
            <expansion-list expansions="$ctrl.searchParams.expansions" on-click-action="$ctrl.onSubmit()"></expansion-list>
        </div>
    </div>
</div>

<!-- Types -->
<div class="row mt-1">
    <div class="col-12">
        <h5>Types</h5>
        <div class="form-check form-check-inline" ng-repeat="(type,value) in $ctrl.searchParams.types" for="{{ type }}" >
            <label class="form-check-label text-capitalize">
                <input type="checkbox" id="{{ type }}" ng-model="$ctrl.searchParams.types[type]" ng-change="$ctrl.onSubmit()" class="form-check-input">
                {{ type }}
            </label>
        </div>
    </div>
</div>

<!-- Attributes -->
<div class="row mt-1">
    <div class="col-12">
        <h5>Attributes</h5>
        <div class="form-check form-check-inline" ng-repeat="(type,value) in $ctrl.searchParams.adds" for="add-{{ type }}">
            <label class="form-check-label text-capitalize">
                <input type="checkbox" id="add-{{ type }}" ng-model="$ctrl.searchParams.adds[type]" ng-change="$ctrl.onSubmit()" class="form-check-input">
                +{{ type }}
            </label>
        </div>
    </div>
</div>

