<div class="share-overlay" ng-class="{'open': $ctrl.open}">
    <div class="share-modal">
        <div class="container share-content">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 text-center">
                    <!-- TODO: Write some hilarious sharing tag lines and randomize when you share -->
                    <h4>Share the Playset</h4>

                    <!-- text message -->
                    <a href="#"
                       class="btn btn-outline-secondary btn-block"
                       socialshare
                       socialshare-provider="sms"
                       socialshare-text="Checkout my Dominion Playset: {{ $ctrl.getShareUrl() }}"
                    >
                        <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> Text Message <small>(mobile only)</small>
                    </a>

                    <!-- email -->
                    <a href="#"
                       class="btn btn-outline-secondary btn-block"
                       socialshare
                       socialshare-provider="email"
                       socialshare-subject="Checkout my Dominion Playset"
                       socialshare-body="{{ $ctrl.getShareUrl() }}"
                    >
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Email</small>
                    </a>

                    <!-- twitter -->
                    <a href="#"
                       class="btn btn-outline-secondary btn-block"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-url="{{ $ctrl.getShareUrl() }}"
                       socialshare-text="Checkout my Dominion Playset:"
                    >
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Twitter</small>
                    </a>

                    <!-- facebook messenger -->
                    <a href="#"
                       class="btn btn-outline-secondary btn-block"
                       socialshare
                       socialshare-provider="facebook-messenger"
                       socialshare-url="{{ $ctrl.getShareUrl() }}"
                    >
                        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook Messenger <small>(mobile only)</small>
                    </a>

                    <!-- Copy to clipboard -->
                    <div class="row mt-1">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ $ctrl.getShareUrl() }}" aria-describedby="copy-button" disabled>
                                <span class="input-group-btn" id="copy-button">
                                    <button
                                            clipboard
                                            supported="supported"
                                            text="$ctrl.getShareUrl()"
                                            class="btn btn-outline-secondary"
                                    >
                                        <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="share-close text-center">
            <button class="btn btn-outline-secondary close-share" ng-click="$ctrl.toggleShare()">Close</button>
        </div>
    </div>
</div>
