<div class="pt-page-content">
    <div class="welcome-tron">
        <h1>
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" id="chefHat" class="hidden-xs-down">
                <use xlink:href="chef-hat.svg#chefHat"></use>
            </svg>
            Dominion Chef
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" id="chefMoustache" class="hidden-sm-down">
                <use xlink:href="chef-moustache.svg#chefMoustache"></use>
            </svg>
        </h1>
        <p class="text mt-4 lead">A customizable card set generator for Dominion</p>

        <div class="build-form">
            <h2>Choose Your Expansions</h2>
            <expansion-list expansions="$ctrl.expansions"></expansion-list>
            <div class="row justify-content-center">
                <div class="col-12">
                    <button class="btn btn-primary" id="build" ng-click="$ctrl.handleBuild()">Build a Playset</button>
                </div>
                <div class="col-12">
                    <p style="margin-top:10px;"><a ng-href="advanced-options"><small>Advanced Options</small></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col welcome-footer text-center hidden-xs-down">
            <p class="text">
                <small style="line-height: .5rem;">
                    Images served from the
                    <a href="http://wiki.dominionstrategy.com/index.php/Main_Page" target="blank">Dominion Strategy Wiki</a>,
                    and are available under
                    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
                        Creative Commons Attribution Non-Commercial Share Alike
                    </a>
                </small>
                <br>
                <small style="line-height: .5rem;">
                    <a href="http://boardgamegeek.com/filepage/73273/dominion-card-icons-vector-images">SVG Icons</a>
                    created by <a href="http://boardgamegeek.com" target="_blank">BoardGameGeek</a> user
                    <a href="http://boardgamegeek.com/user/m_knox" target="_blank">m_knox</a>.
                </small>
            </p>
        </div>
    </div>
</div>
