/*** Page Transitions **/
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  background-color: $gray-dark;
  overflow: hidden;
}


.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}

.pt-page-content {
  margin: 30px auto 0 auto;
}

@include media-breakpoint-up(md) {
  .pt-page-content {
    max-width: 640px;
  }
}

@include media-breakpoint-up(lg) {
  .pt-page-content {
    max-width: 875px;
  }
}


.pt-page.ng-enter, .pt-page.ng-leave {
  opacity:1;
}

.pt-page.ng-enter card-list {
  display:none;
}

.pt-page.ng-leave {
  -webkit-animation: scaleDown .6s both ease;
  animation: scaleDown .6s both ease;
}

#welcome.ng-enter {
  -webkit-animation: scaleUp .6s both ease;
  animation: scaleUp .6s both ease;
}
/*#welcome.ng-leave {
  -webkit-animation: scaleDown .6s both ease;
  animation: scaleDown .6s both ease;
}*/

#advancedOptions.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}
/*#advancedOptions.ng-leave {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}*/

#inventory.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}
/*#inventory.ng-leave {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}*/

#playset.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromTop .6s both ease;
  animation: moveFromTop .6s both ease;
}
/*#playset.ng-leave {
  -webkit-animation: moveToTop .6s both ease;
  animation: moveToTop .6s both ease;
}*/

#about.ng-enter {
  z-index: 999;
  -webkit-animation: moveFromLeft .6s both ease;
  animation: moveFromLeft .6s both ease;
}
/*#about.ng-leave {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: rotateFall .8s both ease;
  animation: rotateFall .8s both ease;
}*/

/* Transitions */

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes rotatePushTop {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(-90deg); }
}
@keyframes rotatePushTop {
  from { }
  to { opacity: 0; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
}

/* newspaper */

@-webkit-keyframes rotateOutNewspaper {
  from { }
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  from { }
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@-webkit-keyframes rotateInNewspaper {
  from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}
@keyframes rotateInNewspaper {
  from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}

/* scale */
@-webkit-keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}
@-webkit-keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

/* fall */

@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}