// Start with assigning color names to specific hex values.
$red:    #C95D51 !default;
$yellow: #AC9D70 !default;
$green:  #82b58c !default;
$blue:   #6E8AB5 !default;
$teal:   #B3D8F4 !default;

// Create grayscale
$gray-dark:                 #5B5651 !default;
$gray:                      #827B74 !default;
$gray-light:                #D4C8BC !default;
$gray-lighter:              #F2E5D8 !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-warning:             $yellow !default;

$border-radius:          0 !default;
$border-radius-lg:       0rem !default;
$border-radius-sm:       0rem !default;