@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/angularjs-slider/dist/rzslider.css";
@import "page_transitions";
@import "nav";
@import "domcard";
@import "dom_icons";
@import "slider_override.scss";
@import "share";

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Yatra One', cursive;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#imageStrikeThrough {
  content: '';
  top: .7rem;
  left: .3rem;
  position: absolute;
  width: 1.3rem;
  height: .1rem;
  background-color: $gray-dark;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-divider {
  border-bottom: 1px solid #bbb;
  padding: 10px 0;
  margin: 0 -10px;
}

.help-block {
  overflow-y: hidden;
  max-height: 5000px;
}

.help-block p, .help-block h4 {
  font-size: .9rem;
}

.help-block.ng-hide-remove {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.help-block.ng-hide {
  max-height: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/*
 * WELCOME
 */
.welcome-tron {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 450px;
  text-align: center;
  padding: 0 20px;
}
.welcome-tron .text {
  max-width: 468px;
  margin: auto;
}

.build-form {
  margin-top: 50px;
}

#build {
  width: 100%;
}
@include media-breakpoint-up(sm) {
  .welcome-tron h1 {
    font-size: 6rem;
  }
  #build {
    width: 50%;
  }
}
@include media-breakpoint-up(md) {
  #build {
    margin-top: 1rem;
    width: 30%;
  }
}

.btn-outline-secondary {
  color: $gray-dark;
  background-image: none;
  background-color: transparent;
  border-color: $gray-dark;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus{
  color: $gray-dark;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $gray-lighter;
  border: 1px solid darken($gray-lighter, 10%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.welcome-footer {
  position:fixed;
  bottom: 0;
  left:0; right: 0;
}

.changelog div.change {
  margin-top: 1rem;
  border-bottom: 1px solid #bbb;
}
.changelog h3 {
  margin-top: 2rem;
}